<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TwoLevelHotKeys" value="no" />
    <add key="InventoryConnectionString" value="-" />
    <add key="DataServiceProvider" value="08211111" />
    <add key="ShowFOCColumn" value="no" />
    <add key="ShowPreOrderColumn" value="no" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PackageFeature" value="yes"/>
    <add key="RealTimePointSystem" value="yes"/>
    <add key="ExternalScriptAfterCounterClose" value=""/>
    <add key="PrintProductSalesReport" value="yes"/>
    <add key="ReceiptSalesPersonMessage" value="You are served by "/>
    <add key="ReceiptThankYouMessage" value=""/>
    <add key="SubscriptionLengthInMonths" value="1200"/>
    <add key="UseItemForHotKeys" value="Yes"/>
    <add key="LogoPath" value="C:\Demo"/>
    <add key="LogoFileName" value="logo.jpg"/>
    <add key="AutoPrint" value="true"/>
    <add key="SalesReturnDays" value="7"/>

    <add key="RoundingPreference" value="RoundDownNearestDollar"/>

    <add key="Membership_PhotoLocation" value="\MembershipPhoto\"/>
    <add key="BackUpDirectory" value="D:\BackUp\"/>
    <!--BackUp Period in Months, will delete a backup if created on is less than specified months-->
    <add key="BackUpPeriod" value="3"/>
    <add key="TeamViewerPath" value="C:\Program Files\TeamViewer\Version7\TeamViewer.exe"/>
    <add key="ItemPhotosFolder" value="C:\ItemPhotosFolder\"/>
    <add key="SenderMail" value="edgeworks123@gmail.com"/>
    <add key="SMTPServerMail" value="smtp.gmail.com"/>
    <add key="SMTPUserMail" value="edgeworks123"/>
    <add key="SMTPPassMail" value="pressingon"/>
    <add key="LoadingScreenTitle" value="EQuipPOS Retail"/>

    <!--add key="RoundingPreference" value="RoundDownNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundDownNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundDownNearestDollar"/-->
    <add key="ViewBillLimit" value="365"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=MANDALA-PC\MSSQLR2;Initial Catalog=USTAR;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd" />
    <add name="WinUtility.Properties.Settings.AHAVATMPConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\AHAVATMP.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear/>
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
    </providers>
  </SubSonicService>
  <userSettings>
    <WinUtility.Properties.Settings>
      <setting name="SensitiveSalt" serializeAs="String">
        <value>A3DCC69DBC095EE877D29CA8</value>
      </setting>
      <setting name="Test" serializeAs="String">
        <value>123</value>
      </setting>
    </WinUtility.Properties.Settings>
  </userSettings>
</configuration>

