<connectionStrings>

  <add name="PowerPOS" connectionString="Data Source=localhost\SQL2017;Initial Catalog=HaiSia20190801;Integrated Security=false;Persist Security Info=True; User ID=sa; Password=P@ssw0rd1"/>
  <add name="POSCLIENT" connectionString="Data Source=localhost\SQLEXPRESS; Database=POSCLIENT;uid=sa;pwd=pressingon;" />
</connectionStrings>

