<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinAutoSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinAutoSync.Properties.Settings>
            <setting name="SyncSaleFilePath" serializeAs="String">
                <value>D:\\Integration\\Sale\\ERPIntegration.exe</value>
            </setting>
            <setting name="CHECKORDER_INTERVAL_SEC" serializeAs="String">
                <value>60</value>
            </setting>
        </WinAutoSync.Properties.Settings>
    </userSettings>

  <connectionStrings>
    <clear/>
    <add name="PowerPOS" connectionString="Data Source=localhost\SQLR2008; Database=Haisia;integrated security = true;"/>
    
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear/>
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
    </providers>
  </SubSonicService>
</configuration>