<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinPowerPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TwoLevelHotKeys" value="no" />
    <add key="InventoryConnectionString" value="-" />
    <add key="DataServiceProvider" value="08211111" />
    <add key="ShowFOCColumn" value="no" />
    <add key="ShowPreOrderColumn" value="no" />    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PackageFeature" value="yes"/>
    <add key="RealTimePointSystem" value="no"/>
    <add key="ExternalScriptAfterCounterClose" value=""/>
    <add key="PrintProductSalesReport" value="yes"/>
    <add key="ReceiptSalesPersonMessage" value="You are served by "/>
    <add key="ReceiptThankYouMessage" value=""/>
	  <add key="SubscriptionLengthInMonths" value="1200"/>
    <add key="UseItemForHotKeys" value="Yes"/>
    <add key="LogoPath" value="C:\Demo"/>
    <add key="LogoFileName" value="logo.jpg"/>
    <add key="AutoPrint" value="true"/>
    <add key="SalesReturnDays" value="7"/>
    <add key="RoundingPreference" value="RoundUpNearestFiveCent"/>
    <add key="Membership_PhotoLocation" value="\MembershipPhoto\"/>
    <add key="BackUpDirectory" value="D:\BackUp\"/>
    <!--BackUp Period in Months, will delete a backup if created on is less than specified months-->
    <add key="BackUpPeriod" value="3"/>
    <add key="TeamViewerPath" value="C:\Program Files\TeamViewer\Version7\TeamViewer.exe"/>
    <add key="ItemPhotosFolder" value="C:\ItemPhotosFolder\"/>
    
    <add key="SenderMail" value="edgeworks123@gmail.com"/>
    <add key="SMTPServerMail" value="smtp.gmail.com"/>
    <add key="SMTPUserMail" value="edgeworks123"/>
    <add key="SMTPPassMail" value="pressingon"/>

    <!--add key="RoundingPreference" value="RoundDownNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundDownNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundNearestTenCent"/-->
    <add key="ViewBillLimit" value="365"/>
	<add key ="SupportTeamEmail" value ="Support@edgeworks.com.sg"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="PowerPOS" connectionString="Data Source=.\SQLEXPRESSSP1; Database=Philips_HQ;uid=JHTech;password=aHCDKtFf3b4MWIptBbHdiA==;" />-->

    <add name="PowerPOS" connectionString="Data Source=ADIWT\SQLEXPRESS; Database=Twister-Jurong; Integrated Security=True;" />

    <add name="WinPowerPOS.Properties.Settings.POSDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESSSP1;Initial Catalog=Philips_HQ;uid=JHTech;password=aHCDKtFf3b4MWIptBbHdiA==;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <WinPowerPOS.Properties.Settings>
      <setting name="SensitiveSalt" serializeAs="String">
        <value>A3DCC69DBC095EE877D29CA8</value>
      </setting>
    </WinPowerPOS.Properties.Settings>
  </userSettings>
</configuration>