<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GenericReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GenericReport.reportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogoPath" value=""/>
    <add key="LogoFileName" value="reportLogo.jpeg"/>
    <add key="AutoPrint" value="true"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=ASUS\MSSQLR2;Initial Catalog=Retail3_POS;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd1"/>
    <add name="POSCLIENT" connectionString="Data Source=ASUS\MSSQLR2;Initial Catalog=Retail3_POS;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd1" />
    <add name="PowerInventory.Properties.Settings.POSDBConnectionString" connectionString="Data Source=ASUS\MSSQLR2;Initial Catalog=Retail3_POS;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd1" />
    <add name="GenericReport.Properties.Settings.ReportConStr" connectionString="Data Source=ASUS\MSSQLR2;Initial Catalog=Retail3_POS;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <GenericReport.Properties.Settings>
      <setting name="AutoPrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value>C:\Swagato\RetailBeauty - Backup - 110308T1435 - before modify Hold\RetailBeauty - Backup - 110308T1435 - before modify Hold\WinPowerPOS</value>
      </setting>
      <setting name="LogoFileName" serializeAs="String">
        <value>reportLogo.jpeg</value>
      </setting>
    </GenericReport.Properties.Settings>
    <GenericReport.reportSettings>
      <setting name="AutoPrint" serializeAs="String">
        <value>true</value>
      </setting>
    </GenericReport.reportSettings>
  </userSettings>
</configuration>