IF((SELECT COUNT(*) FROM [dbo].[LANGUAGE_SETTINGS] WHERE [ID] = N'CHS')<=0)
BEGIN
INSERT [dbo].[LANGUAGE_SETTINGS] ([ID], [Name]) VALUES (N'CHS', N'Chinese')
END

IF((SELECT COUNT(*) FROM [dbo].[LANGUAGE_SETTINGS] WHERE [ID] = N'ENG')<=0)
BEGIN
INSERT [dbo].[LANGUAGE_SETTINGS] ([ID], [Name]) VALUES (N'ENG', N'English')
END

IF((SELECT COUNT(*) FROM [dbo].[LANGUAGE_SETTINGS] WHERE [ID] = N'L1')<=0)
BEGIN
INSERT [dbo].[LANGUAGE_SETTINGS] ([ID], [Name]) VALUES (N'L1', N'Malay')
END



IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoNETS')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoNETS', N'Insert Card to NETS Machine', N'插入您的NETs卡', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoReceipt')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoReceipt', N'Collect your receipt', N'收好您的收据', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoCash')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoCash', N'Insert Cash & Coin', N'将现金放入收银机', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoScan')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoScan', N'Scan Item Barcode', N'扫描物品条码', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoBagging')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoBagging', N'Put item in the Bagging Area', N'将物品放入装袋区', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoChange')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoChange', N'Collect your change', N'收好您的找钱', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'StarkKioskButton.Start')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'StarkKioskButton.Start', N'Start', N'开始', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoPutBack')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoPutBack', N'Please return items to bagging area', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoScanFirst')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) VALUES (N'frmKiosk.VideoScanFirst', N'Please scan your item first before put in the weighing area', N'', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoScanFirst')>0)
BEGIN
UPDATE [dbo].[TEXT_LANGUAGE] SET [ENG] = N'Please scan your items before putting in Bagging Area' WHERE [ID] = N'frmKiosk.VideoScanFirst';
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoScanStaff')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) 
VALUES (N'frmKiosk.VideoScanStaff', N'Scan Staff Barcode', N'扫描员工条码', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoScanNRIC')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) 
VALUES (N'frmKiosk.VideoScanNRIC', N'Scan Staff NRIC', N'扫描NRIC条形码', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END

IF((SELECT COUNT(*) FROM [dbo].[TEXT_LANGUAGE] WHERE [ID] = N'frmKiosk.VideoWaitForRemoval')<=0)
BEGIN
INSERT [dbo].[TEXT_LANGUAGE] ([ID], [ENG], [CHS], [L1], [L2], [L3], [L4], [L5], [L6], [L7], [L8], [L9], [L10], [L11], [L12], [L13], [L14], [L15], [L16], [L17], [L18], [L19], [L20], [L21], [L22], [L23], [L24], [L25], [L26], [L27], [L28], [L29], [L30], [L31], [L32], [L33], [L34], [L35], [L36], [L37], [L38], [L39], [L40], [L41], [L42], [L43], [L44], [L45], [L46], [L47], [L48], [L49], [L50], [L51], [L52], [L53], [L54], [L55], [L56], [L57], [L58], [L59], [L60], [L61], [L62], [L63], [L64], [L65], [L66], [L67], [L68], [L69], [L70], [L71], [L72], [L73], [L74], [L75], [L76], [L77], [L78], [L79], [L80], [L81], [L82], [L83], [L84], [L85], [L86], [L87], [L88], [L89], [L90], [L91], [L92], [L93], [L94], [L95], [L96], [L97], [L98], [L99], [L100]) 
VALUES (N'frmKiosk.VideoWaitForRemoval', N'Please remove items from bagging area', N'Please remove items from bagging area', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
END
