<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="TwoLevelHotKeys" value="no" />
    <!--<add key="InventoryConnectionString" value ="-"/>-->
    <add key="DataServiceProvider" value="08211111" />
    <add key="ShowFOCColumn" value="no" />
    <add key="ShowPreOrderColumn" value="no" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PackageFeature" value="yes"/>
    <add key="RealTimePointSystem" value="yes"/>
    <add key="ExternalScriptAfterCounterClose" value=""/>
    <add key="PrintProductSalesReport" value="yes"/>
    <add key="ReceiptSalesPersonMessage" value="You are served by "/>
    <add key="ReceiptThankYouMessage" value=""/>
    <add key="SubscriptionLengthInMonths" value="1200"/>
    <add key="UseItemForHotKeys" value="Yes"/>
    <add key="LogoPath" value="C:\Demo"/>
    <add key="LogoFileName" value="logo.jpg"/>
    <add key="AutoPrint" value="true"/>
    <add key="RoundingPreference" value="RoundUpNearestFiveCent"/>
    <add key="Membership_PhotoLocation" value="\MembershipPhoto\"/>
    <!--add key="RoundingPreference" value="RoundDownNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestFiveCent"/-->
    <!--add key="RoundingPreference" value="RoundDownNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundUpNearestTenCent"/-->
    <!--add key="RoundingPreference" value="RoundNearestTenCent"/-->
    <add key="ViewBillLimit" value="365"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=.; Database=SGClient;Integrated Security = true" />
    <!--<add name="PowerPOS" connectionString="Data Source=tcp:edgeworks.no-ip.biz\SQLEXPRESS,1435; Database=M6;uid=sa; password=pressingonserver" />-->
    <add name="WinPowerPOS.Properties.Settings.POSDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=POSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>