<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    </configSections>
	<connectionStrings>
		<clear/>
		<add name="PowerPOS" connectionString="Data Source=localhost\SQLEXPRESS; Database=ahavadb;uid=sa;pwd=pressingon;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
		<providers>
			<clear/>
			<add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
		</providers>
	</SubSonicService>
    <applicationSettings>
        <MassMailer.Properties.Settings>
            <setting name="MassMailer_localhost_FetchMembersPastTransaction"
                serializeAs="String">
                <value>http://localhost:52772/PowerPOSWeb/FetchMembersPastTransaction.asmx</value>
            </setting>
        </MassMailer.Properties.Settings>
    </applicationSettings>	
</configuration>