<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PowerPOS" connectionString="Data Source=.\SQLR2EXPRESS; Database=BYX;uid=jhtech;pwd=mobiletech;" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
  <userSettings>
    <Notifier.Properties.Settings>
      <setting name="SMTP_Server" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SMTP_Username" serializeAs="String">
        <value>yellowstrike1015814.0002@gmail.com</value>
      </setting>
      <setting name="SMTP_Password" serializeAs="String">
        <value>Testing_123</value>
      </setting>
      <setting name="Mail_From_Address" serializeAs="String">
        <value>yellowstrike1015814.0002@gmail.com</value>
      </setting>
      <setting name="SMTP_Port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SaleTallyReport_MailSubject" serializeAs="String">
        <value>[Philips_POS] Sales Tally Report Notification</value>
      </setting>
      <setting name="NoSalesStoresReport_MailSubject" serializeAs="String">
        <value>[Philips_POS] No Sales Stores Report Notification</value>
      </setting>
      <setting name="ProfitLossReport_MailSubject" serializeAs="String">
        <value>[Philips_POS] Profit / Loss Report Notification</value>
      </setting>
      <setting name="IsTestingPurpose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCrystalReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value>\Export</value>
      </setting>
      <setting name="UseLocalMailSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MonthlySaleReport_MailSubject" serializeAs="String">
        <value>[Philips_POS] Monthly Sale Report Notification</value>
      </setting>
    </Notifier.Properties.Settings>
  </userSettings>
</configuration>