<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<clear/>
		<add name="PowerPOS" connectionString="Data Source=localhost\SQLEXPRESS; Database=demoBeauty20;uid=sa;pwd=pressingon;"/>
		<add name="POSCLIENT" connectionString="Data Source=localhost\SQLEXPRESS; Database=AHAVACLIENT;uid=sa;pwd=pressingon;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
		<providers>
			<clear/>
			<add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
		</providers>
	</SubSonicService>
</configuration>