<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PowerPOSLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Synchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PowerPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=localhost\SQLEXPRESS; Database=Purity;uid=sa;pwd=pressingon;" />
    <add name="POSCLIENT" connectionString="Data Source=localhost\SQLEXPRESS; Database=AHAVADB;uid=sa;pwd=pressingon;" />
    <add name="PowerPOSLib.Properties.Settings.POSDBConnectionString"
     connectionString="Data Source=IMPACT\SQLEXPRESS;Initial Catalog=POSDB;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.1 Final\src\SubSonic\CodeGeneration\Templates">
    <providers>
      <clear/>
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
    </providers>
  </SubSonicService>
  <applicationSettings>
    <PowerPOSLib.Properties.Settings>
      <setting name="PowerPOSLib_FetchMembershipHistory_FetchMembersPastTransaction"
       serializeAs="String">
        <value>http://ahava.edgeworks.com.sg/FetchMembersPastTransaction.asmx</value>
      </setting>
      <setting name="PowerPOSLib_PowerPOSSync_Synchronization" serializeAs="String">
        <value>http://localhost:7125/Synchronization/Synchronization.asmx</value>
      </setting>
    </PowerPOSLib.Properties.Settings>
  </applicationSettings>
</configuration>