<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERPIntegration.Properties.FTPSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UseFTP" value="no" />

    <!--<add key="Integration_Type" value="MONEYWORKS" />-->
    <add key="Integration_Type" value="SYNERGIX" />
    
    <!-- === Choose one of the "Integration_Action" config === -->
    <!--<add key="Integration_Action" value="IMPORT_ITEM" />-->
    <!--<add key="Integration_Action" value="IMPORT_MEMBER" /> -->
    <add key="Integration_Action" value="EXPORT_ORDER_PAYMENT" />
    <!--<add key="Integration_Action" value="EXPORT_ORDER_RPT" />-->
    <!--<add key="Integration_Action" value="UPDATE_STOCKONHAND" />-->
    <!--<add key="Integration_Action" value="DO_STOCK_TAKE" />-->

    <!--<add key="LocalDirectory" value="C:\Temp\ERPIntegration\StockTake" />
    <add key="ServerDirectory" value="/ERPIntegration/StockTake" />-->

    <!--=== For EXPORT_ORDER_PAYMENT, the directory for order files and payment files can be separated like this ===-->
    <!--=== If not separated then both order files and payment files will be put in the same directory ===-->
    <!--<add key="LocalDirectory" value="DirectoryForOrder|DirectoryForPayment" />-->
    <add key="LocalDirectory" value="C:\Temp\ERPIntegration\Order" />
    <add key="ServerDirectory" value="/ERPIntegration/Order|/ERPIntegration/Payment" />

    <add key="Item_DefaultGSTRule" value="2" />
    <add key="Item_DefaultItemDepartmentID" value="TEST" />
    <add key="Item_Attr1Col" value="ITEMCOQ" />
    <add key="Item_Attr2Col" value="ITEMBRKID" />
    <add key="Item_Attr3Col" value="CATEGORY" />
    <add key="Item_Attr4Col" value="CNTLACCT" />
    <add key="Item_Attr5Col" value="STOCKUNIT" />
    <add key="Item_Attr6Col" value="DEFPRICLST" />
    <add key="Item_Attr7Col" value="" />
    <add key="Item_Attr8Col" value="" />
    <add key="Item_BackupDirectory" value="C:\Temp\ERPIntegration\Item\Exported" />

    <add key="Order_SpecialBarcodeColumnHeader" value="WEIGHT" />
    <add key="Order_TemplateFile" value="C:\Temp\ERPIntegration\Template\OrderFile Kenjo.rpt" />
    <add key="InclGST_OrderDet" value="N" />

    <!-- *************************************************************-->
    <!-- Below mentioned are configuration for Email Sender -->
    <!-- *************************************************************-->
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SenderEmail" value="mailer@edgeworks.com.sg"/>
    <add key="DefaultMailTo" value="adi@edgeworks.com.sg"/>
    <add key="Username" value="mailer@edgeworks.com.sg"/>
    <add key="Password" value="innovate888"/>

    <!-- *************************************************************-->
    <!-- Below mentioned are configuration for MoneyWorks Integration -->
    <!-- *************************************************************-->

    <!--<add key="StartDate" value="2018-06-09 00:00:00"/>-->
    <!--yyyy-MM-dd-->
    <!--<add key="EndDate" value="2018-06-09 23:59:59"/>-->
    <!--yyyy-MM-dd-->
    <!--<add key="Server" value="203.127.128.92"/>
    <add key="Port" value="6710"/>
    <add key="SSL" value="false"/>
    <add key="FolderID" value=""/>
    <add key="FolderPassword" value=""/>
    <add key="Username" value="edgeworks"/>
    <add key="Password" value="edgeworks123"/>
    <add key="Document" value="Century Wines &amp; Spirits Pte Ltd.moneyworks"/>-->

    <!-- account code of the bank that was selected for sale transaction  -->
    <add key="Contra" value="2032" />

    <!-- account code of the bank that was selected for void transaction -->
    <add key="ContraVoid" value="4001" />

    <!-- Current Location  -->
    <add key="Location" value="EC" />
    <!-- OUE,ORPZ,EC -->
    <add key="LocationID" value="33" />
    <!-- 35,52-->

    <!-- Current PointOfSaleID  -->
    <!--<add key="PosID" value="52" />-->

    <!-- is void transaction processed "False" or "True"  -->
    <add key="VoidProcessed" value="False" />

    <add key="PaymentCash" value="CASH"/>
    <add key="PaymentCheque" value=""/>
    <add key="PaymentElectronic" value="NETS ATM Card"/>
    <add key="PaymentCC" value="MASTER,VISA,AMEX,UNION PAY"/>
    <add key="PaymentReserved5" value=""/>
    <add key="PaymentReserved6" value=""/>
    <add key="PaymentReserved7" value=""/>
    <!-- END OF MONEYWORKS SETTINGS -->

    <!-- *************************************************************-->
    <!-- Below mentioned are configuration for SYNERGIX INTEGRATION -->
    <!-- *************************************************************-->
    <add key="StartDate" value=""/>
    <!--yyyy-MM-dd-->
    <add key="EndDate" value=""/>
    <!--yyyy-MM-dd-->
    <!--<add key="synergix_server" value="http://202.157.162.204:9080/TH6/rs/hs/pos/" />-->
    <add key="synergix_server" value="http://202.157.162.204:9081/TH5Web/seam/resource/rest/hs/pos/" />
    <!--<add key="synergix_token" value="ujrti6lp3i85jyv2ejmr" />-->
      <add key="synergix_token" value="ujrti6lp3i85jyv2ejmr" />
    <add key="company_code" value="TRG" />
    <add key="currency_code" value="SGD" />
    <add key="sales_tax_code" value="GST_7" />
    <!-- POSID NEED FOR SEND ORDER PAYMENT -->
    <add key="PosID" value="50" />
    <add key="walk_in_code" value="CL00000018" />
    <!-- DEFAULT MEMBERSHIP GROUP, FOR MEMBER WHO DONT HAVE MEMBERGROUP FOR IMPORT MEMBER-->
    <add key="default_member_group" value="9"/>
    <!--<add key="synergix_server" value="http://pizza.synergixtech.com:19080/TH6/rs/hs/pos/" /> -->
    <!--<add key="synergix_server" value="http://pizza.synergixtech.com:19080/TH5Web/seam/resource/rest/hs/pos/" />
    <add key="synergix_token" value="TEST_SECURITY_TOKEN" />
    <add key="company_code" value="LCS1INT" />
    <add key="currency_code" value="SGD" />
    <add key="sales_tax_code" value="GST7" />
    <add key="walk_in_code" value="POS_CUST_4" />-->
    <!-- POSID NEED FOR SEND ORDER PAYMENT -->
    <!--<add key="PosID" value="50" />
    <add key="walk_in_code" value="POS_CUST_4" />-->
    <!-- DEFAULT MEMBERSHIP GROUP, FOR MEMBER WHO DONT HAVE MEMBERGROUP FOR IMPORT MEMBER-->
    <!--<add key="default_member_group" value="9"/>-->

  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="data source=localhost\SQLEXPRESS;initial catalog=SynergixTraining;Integrated Security=true;"/>
    <!--<add name="PowerPOS" connectionString="Data Source=localhost;Initial Catalog=THK_Server;Integrated Security=true;" />-->
    <!--<add name="PowerPOS" connectionString="Data Source=tcp:54.201.129.220\sqlr2,1436;Initial Catalog=KenjoSalon;user=sa;password=Pressing0nserver" />-->
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
  <userSettings>
    <ERPIntegration.Properties.FTPSettings>
      <setting name="Protocol" serializeAs="String">
        <value>FTP</value>
      </setting>
      <setting name="FtpHost" serializeAs="String">
        <value>pabx.dyndns-server.com</value>
      </setting>
      <setting name="FtpPort" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="PassiveMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>edgeworks</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>pressingon</value>
      </setting>
    </ERPIntegration.Properties.FTPSettings>
  </userSettings>
</configuration>