<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MallIntegrationPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MallIntegrationPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MallIntegrationPicker.Properties.Settings>
            <setting name="WS_URL" serializeAs="String">
                <value>http://equipweb.biz/MallIntegrationTest</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>C:\\Integration\\File</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckFileInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>C:\\Integration</value>
            </setting>
            <setting name="MallCode" serializeAs="String">
                <value>208</value>
            </setting>
        </MallIntegrationPicker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MallIntegrationPicker.Properties.Settings>
            <setting name="MallIntegrationPicker_MallIntegrationService_MallIntegration"
                serializeAs="String">
                <value>http://localhost:2234/Synchronization/MallIntegration.asmx</value>
            </setting>
        </MallIntegrationPicker.Properties.Settings>
    </applicationSettings>
</configuration>