<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Synchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="PowerPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<clear/>
		<add name="PowerPOS" connectionString="Data Source=localhost\SQLEXPRESS; Database=POSDB;uid=sa;pwd=pressingon;"/>
		<add name="POSCLIENT" connectionString="Data Source=localhost\SQLEXPRESS; Database=AHAVACLIENT;uid=sa;pwd=pressingon;"/>
	</connectionStrings>
	<SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
		<providers>
			<clear/>
			<add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS"/>
		</providers>
	</SubSonicService>
 <applicationSettings>
  <Synchronizer.Properties.Settings>
   <setting name="Synchronizer_PowerPOSSync_Synchronization" serializeAs="String">
    <value>http://localhost:6733/PowerPOSWeb/Synchronization/Synchronization.asmx</value>
   </setting>
  </Synchronizer.Properties.Settings>
 </applicationSettings>
</configuration>