<connectionStrings>
  <!--<add name="PowerPOS" connectionString="Data Source=localhost\SQLR2012;Initial Catalog=Lacquar;Integrated Security=true;"/>-->
<!--<add name="PowerPOS" connectionString="Data Source=ASUS\MSSQL2012;Initial Catalog=MallIntegrationTest;Persist Security Info=True; Integrated Security=false;User ID=sa;Password=P@ssw0rd1"/>-->
 <!--<add name="PowerPOS" connectionString="Data Source=tcp:54.201.129.220\sqlr2,1436;Initial Catalog=SuperPetsTest;Persist Security Info=True;Integrated Security=false;uid=sa;Password=Pressing0nserver;"/>-->
  <!--<add name="PowerPOS" connectionString="Data Source=tcp:54.201.129.220\sqlr2,1436;Initial Catalog=;uid=sa;
       Password=Pressing0nserver;"/>-->
  <!--<add name="PowerPOS" connectionString="Data Source=LAPTOP-J9GI0PNB\SQL2019;Initial Catalog=GainswellServer;Integrated Security=false;Persist Security Info=False;User ID=sa;Password=Password.Mika;"/>-->
  <!--<add name="PowerPOS" connectionString="Data Source=G_SERIES\SQL2008;Initial Catalog=UncleOtah;Integrated Security=false;Persist Security Info=True; User ID=sa; Password=Password.Mika"/>-->
  <!--<add name="PowerPOS" connectionString="Data Source=tcp:34.209.151.99\sql72017,1436;Initial Catalog=GainswellTradingPteLtdTraining;Integrated Security=false;Persist Security Info=True; User ID=sa; Password=Pressing0nServer"/>-->
  <add name="PowerPOS" connectionString="server=.;database=POSDB;Integrated Security=SSPI" providerName="System.Data.SqlClient"  />
  <add name="POSCLIENT" connectionString="Data Source=localhost\SQLEXPRESS; Database=POSCLIENT;uid=sa;pwd=pressingon;" />
</connectionStrings>

